@model FirstPostOfCates

@{
    var n = Model.Posts.Count;
}

<!-- ======= Post Grid Section ======= -->
<section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="post-entry-1 lg">
                    <a href="single-post.html"><img src="assets/img/post-landscape-1.jpg" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">@Model.Cates.First().Name</span> <span class="mx-1">&bullet;</span> <span>@Model.Posts.First().PostedOn.ToShortDateString()</span></div>
                    <h2><a href="single-post.html">@Model.Posts.First().Title</a></h2>
                    <p class="mb-4 d-block">@Model.Posts.First().ShortDescription</p>

                    <div class="d-flex align-items-center author">
                        <div class="photo"><img src="assets/img/person-1.jpg" alt="" class="img-fluid"></div>
                        <div class="name">
                            <h3 class="m-0 p-0">@Model.Posts.First().AuthorName</h3>
                        </div>
                    </div>
                </div>

                <div class="post-entry-1 lg">
                    <a href="single-post.html"><img src="assets/img/post-landscape-1.jpg" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">@Model.Cates.ElementAt(1).Name</span> <span class="mx-1">&bullet;</span> <span>@Model.Posts.ElementAt(1).PostedOn.ToShortDateString()</span></div>
                    <h2><a href="single-post.html">@Model.Posts.ElementAt(1).Title</a></h2>
                    <p class="mb-4 d-block">@Model.Posts.ElementAt(1).ShortDescription</p>

                    <div class="d-flex align-items-center author">
                        <div class="photo"><img src="assets/img/person-1.jpg" alt="" class="img-fluid"></div>
                        <div class="name">
                            <h3 class="m-0 p-0">@Model.Posts.ElementAt(1).AuthorName</h3>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-8">
                <div class="row g-5">
                    <div class="col-lg-4 border-start custom-border">
                        @for (int i = 2; i < (n/2) + 1; i++)
                        {
                            var cate = Model.Cates.ElementAt(i);
                            var post = Model.Posts.ElementAt(i);
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="assets/img/post-landscape-2.jpg" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">@cate.Name</span> <span class="mx-1">&bullet;</span> <span>@post.PostedOn.ToShortDateString()</span></div>
                                <h2><a href="single-post.html">@post.Title</a></h2>
                            </div>
                        }
                        
                        
                    </div>
                    <div class="col-lg-4 border-start custom-border">
                        @for (var i = (n/2) + 1; i < n; i++)
                        {
                            var cate = Model.Cates.ElementAt(i);
                            var post = Model.Posts.ElementAt(i);
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="assets/img/post-landscape-3.jpg" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">@cate.Name</span> <span class="mx-1">&bullet;</span> <span>@post.PostedOn.ToShortDateString()</span></div>
                                <h2><a href="single-post.html">@post.Title</a></h2>
                            </div>
                        }
                        
                        
                    </div>

                    <!-- Trending Section -->
                    @await Html.PartialAsync("_Trending", Model.Trending.Posts);
                    <!-- End Trending Section -->
                </div>
            </div>

        </div> <!-- End .row -->
    </div>
</section> <!-- End Post Grid Section -->